/**
 * @name VisualRefreshTweaks
 * @author @syberiak
 * @version 1.0.0
 * @description Some personal fixes and tweaks for the Discord's visual refresh 
**/

/* Hide stuff */
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"],
div[aria-label^="Click to react with"],
.separator_f84418,
div[class^=channelAppLauncher_],
.reactionSuggestion_d1c246,
.app-launcher-entrypoint,
.vc-uvs-message-indicator {
  display: none;
}

.visual-refresh .container__37e49 {
  padding: 6px;
}

/* Lower chat field + put typing indicators on top */
main[class^="chatContent"]>form[class^="form"] {
  display: flex;
  flex-direction: column-reverse;
}

main[class^="chatContent"]>form[class^="form"]:not(:has(div[class^="typing"])) {
  margin-top: calc(12px + (var(--space-xs) * 2)) !important;
}

main[class^="chatContent"]>form[class^="form"] div[class^="channelTextArea"] {
  margin-bottom: calc(-8px + (var(--space-xs) * 2)) !important;
}

div[class^="typing"] {
  position: static !important;
  margin-top: var(--space-xxs);
  margin-bottom: var(--space-xxs);
}

div[class^="messagesWrapper"] div[class^="scrollerSpacer"] {
  display: none !important;
}

.messagesWrapper__36d07 {
	border-bottom: 1px solid var(--border-subtle);
}

/* Hide pinned guild discover button */
div[class^="footer_"]:has(div[data-list-item-id="guildsnav___guild-discover-button"]) {
  display: none;
}

div[class*=unreadMentionsFixedFooter_] {
  bottom: 0;
}

/* Re-add 'Today at' to timestamps */
h3>span>time[aria-label^="Today at"]::before {
  content: "Today at ";
}

.visual-refresh {

  div.topic__6ec1a {
    -webkit-app-region: no-drag;
  }

  /* Context Menu Padding*/
  .labelContainer_c1e9c4,
  .scroller_c1e9c4 {
    padding: 6px;
  }

  .wrapper_f563df {
    padding: 4px 2px;
  }

  .separator_c1e9c4 {
    margin: 2px;
  }

  /* Channel List Padding */
  .containerDefault_c69b6d>div>div>a {
    padding: 2px 6px;
  }

  /* Window Topbar Size */
  .bar_c38106 {
    padding-right: 8px;
  }

  .leading_c38106,
  .trailing_c38106 {
    gap: 2px;
  }

  /* New Member Badge Color */
  .newMemberBadge_f80704 {
    --text-positive: #4cc06c;
  }

  /* Channel Name Offset */
  .container__9293f {
    padding-left: 10px;
  }
  
  /* Fix user limit display misaligned */
  .total__260e1, .users__260e1 {
    padding: 0;
  }

  .users__260e1 {
    padding-left: var(--space-6);
  }

  .visual-refresh .total__260e1 {
    padding-right: calc(var(--space-6) / 2);
  }
}

/* BetterFolders tweaks */
.container_c48ade > :not(.base_c48ade):first-child {
  max-width: 60px !important;
  margin-top: var(--custom-app-top-bar-height);

  .guilds_c48ade {
	margin-bottom: var(--space-8);
  }
  
  .wrapper__48112 {
	width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding)*2);
  }
}


/* Fix icon sizes in message input */
main[class^="chatContent"] .lottieIcon__5eb9b {
	width: 28px !important;
	height: 28px !important;
}

main[class^="chatContent"] .spriteContainer__04eed {
	--custom-emoji-sprite-size: 24px !important;
}


/* Fix weird divs in channel list (doesn't break with banners) */
nav.container__2637a:not(:has(div.hasBanner_f37cb1)) {
	ul[aria-label="Channels"]>:nth-child(1) {
		display: none;
	}
}

ul[aria-label="Channels"]>:nth-child(2) {
	display: none;
}
